#sub{
    background-color: rgb(203, 30, 30);
    color: white;
    border: none;
    padding-left: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 15px;
    border-radius: 2px;
    cursor: pointer;
    margin-right: 10px;
    transition: 0.2s;
}
#sub:hover{
    opacity: 0.8;
    box-shadow: 2px;
}
#sub:active{
    opacity: 0.6;
}
#join{
    background-color: white;
    color: rgb(2, 89, 255);
    height: 35px;
    width: 60px;
    border-radius: 2px;
    border-color: rgb(2, 89, 255);
    margin-right: 10px;
    transition: 0.17s,
    color 0.17s;

}
#join:hover{
    background-color:rgb(2, 89, 255) ;
    color:white ;
}
#join:active{
    opacity: 0.7;
}
#tweet{
    background-color: rgb(2, 157, 255);
    color: white;
    border: none;
    border-radius: 20px;
    width: 70px;
    height: 35px;
    font-weight: bold;
    transition: box-shadow 0.155s;
    
    

}
#tweet:hover{
    box-shadow: 5px 5px 10px rgba(0,0,0,0.15);
}