
.grids{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 16px;
    row-gap: 40px;
    }
    @media (max-width:1000px){
        .grids{
            grid-template-columns: 1fr 1fr;
        }
    }
    @media (max-width:600px){
        .grids{
            grid-template-columns: 1fr;
        }
    }
.efty{
    width: 100%;
    display: block;
}

.intro{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 18px;
    line-height: 23px;
    margin-bottom: 0px;
    
    
}
.two{
    font-family: Arial;
    font-size: 13;
    margin-top:0px ;
    

}
.name{
    margin-bottom: 0px;
    font-size: 15px;
    font-family: Arial;
    
    
}
.profile_picture{
    width: 45px;
    height: 45px;
    object-fit: cover;
    vertical-align: top;
    border-radius: 40px;
    margin-top: 14px;
    display: inline-block;
    margin-right: 5px;

}

.grid{
    display: grid;
    grid-template-columns: 50px 1fr;
}


.channel-picture{
    
    width: 50px;
    vertical-align: top;
}
.thumbnail{
    position: relative;
}
.time{
    position: absolute;
    background-color: black;
    color: white;
    right: 7px;
    bottom: 8px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 2px;
    font-weight: 500;
    padding: 4px;
}
