.intro{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 18px;
    width: 400px;
    line-height: 23px;
    margin-bottom: 0px;
}
.two{
    font-family: Arial;
    font-size: 13;
    margin-top:0px ;

}